#boton_cargar_mas_buenas_excusas p {
  font-family: ubuntu light, ubuntu, calibri, verdana;
  font-size: 20px;
  color: #fff;
}

#boton_cargar_mas_buenas_excusas {  
  margin-top: 30px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  background-color: #808080;
  
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; 
}

#contenedor_boton_cargar_mas_buenas_excusas {
  padding: 0px 30%;
}

.puntaje {
  position: relative;
  top: -3px;
  font-family: ubuntu light, ubuntu, calibri, verdana;
  font-size: 20px;
  color: #707070;
}

.contenedor_compartir {
  position: absolute;
  top: 10px;
  
}

#imagen_subida {
  max-width: 300px;
  max-heigh: 300px;
}

#contenedor_imagen_subida {
  text-align: center;
}

#contenedor_procesando p {
  margin-top: 15px;
  padding: 0px 30px 0px 30px;
  text-size: 15px;
  color: #505050;
}

#contenedor_procesando {
  padding: 60px 0px 60px 0px;
  text-align: center;
  background-color: rgba(255,255,255, 0.4);
  border-radius: 3px;
}

#footer {
  margin-top: 40px;
  height: 140px;
  font-size: 33px;
  font-family: ubuntu light, ubuntu, calibri, verdana;
  background: url('../img/footer.png') repeat-x bottom rgb(34,34,34);
  
  -webkit-transition: all 1s ease-in;  
  -webkit-box-shadow: 0 -2px 3px rgba(0,0,0, 0.4);  
}

#animal:hover {
  opacity: 1;
}

#animal {
  cursor: pointer;
  opacity: 0.2;
}

#contenedor_animal {
  margin-top: 60px;
  text-align: center;
}

.boton_arrivoto:hover:before, .compartir:hover:before, .boton_bajivoto:hover:before {
  display: block;
}

.boton_bajivoto:before {
  content: 'calificar como mala';
}

.compartir:before {
  content: 'más acciones';
}

.boton_arrivoto:before {
  content: 'calificar como buena';
}

.boton_arrivoto:before, .compartir:before, .boton_bajivoto:before {
  position: absolute;
  top: 17px;
  padding: 3px 7px 4px 7px;
  font-family: ubuntu light, ubuntu, calibri, verdana;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  display: none;
  
  -webkit-box-shadow: 0 0 3px 2px rgba(255,255,255, 1);
  
  z-index: 5;  
}

.boton_arrivoto, .compartir, .boton_bajivoto {
  position: relative;
  margin: 0px 12px 0px 12px;
  cursor: pointer;
}

.acciones_excusa {
  padding-top: 12px;
  text-align: center;
}

.contenedor_video iframe {
  margin-top: 10px;
  width: 400px;
  height: 225px;
}

.contenedor_video {
  text-align: center;  
  overflow: hidden;
}

.contenedor_imagen img {
  max-width: 80%;
  max-height: 400px;
  border-radius: 3px;
}

.contenedor_imagen {
  margin: 10px 0px 0px 0px;
  text-align: center;

}

.imagen p {
  text-align: center;
  color: #707070;
  font-size: 13px;
}

.texto p:last-child {
  margin-bottom: 15px;
}

.texto p:nth-child(1) {
  margin-top: 15px;
}

.texto p {
  margin-top: 7px;
  padding: 0px 35px 0px 35px;
  text-align: center;
  font-size: 16px;
  color: #303030;
}

.texto p, .imagen p {
  font-family: ubuntu light, ubuntu, calibri, verdana;
  text-shadow: 0 0 1px rgba(0,0,0, 0.5);
}

.contenedor_excusa {
  position: relative;
  width: 83%;
  margin: 40px auto 0px auto;
  padding-bottom: 15px;
  background-color: #fff;  
  -webkit-border-radius: 3px;
      
  -webkit-box-shadow: inset 0 5px 10px -2px rgba(0,0,0,0.2);
}

#contenedor_malas_excusas, #contenedor_buenas_excusas {
  float: left;
  width: 50%;
}

#contenedor_malas_excusas {
}

#contenedor_buenas_excusas {
}

#contenedor_excusas_recientes {
}

#excusas_de_otros .titulo {
  text-align: center;
  margin-top: 30px;
  font-family: yanone;
  font-size: 66px;
  color: #404040;
  text-shadow: rgba(0,0,0,0.5) 0 0 2px;
}

#contenedor_buenas_excusas .titulo {
  color: rgb(20,140,60);
  text-shadow: rgba(20,140,60, 0.7) 0 0 2px;
}

#contenedor_malas_excusas .titulo {
  color: rgb(230,20,60);
  text-shadow: rgba(230,20,60, 0.7) 0 0 2px;
}

#link_youtube {
  color: #fff;
  text-shadow: rgba(255,255,255,0.3) 0 0 3px;
  background: rgba(230,0,0,1);

  -webkit-border-radius: 3px;
}

#link_vimeo {
  color: #000;
  text-shadow: rgba(0,0,0,0.3) 0 0 3px;
  background: rgba(10,150,225,0.8);

  -webkit-border-radius: 3px;
}

#link_minus {
  color: #f60;
  background: rgba(255,255,255,1.8);

  -webkit-border-radius: 3px;
}

#link_imgur {
  color: #af2;
  background: rgba(0,0,0,0.8);
  
  -webkit-border-radius: 3px;
}

.link {
  padding: 0px 5px 2px 5px;
  font-size: 18px;
  cursor: pointer;
}

.input_texto {  
  width: 96%;
  font-family: ubuntu light, ubuntu, calibri, verdana;
  font-size: 22px;
  color: #404040;
  
  
  -webkit-border-radius: 4px;
}

#contenedor_input_file {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#imagen_subir {
  .float: right;
}

#contenedor_imagen_subir {
  text-align: center;
}

#boton_subir_imagen {
  margin: 10px 0px 25px 0px;
  cursor: pointer;
}

#contenedor_formulario_video p:nth-child(4) {
  font-size: 16px;
}

#contenedor_formulario_imagen p, #contenedor_formulario_video p {
  font-family: ubuntu light, ubuntu, calibri, verdana;
  font-size: 22px;
  color: #404040;
}

#contenedor_formulario_imagen, #contenedor_formulario_video {
  text-align: center;
}

#boton_publicar {
  margin-top: 20px;
  padding: 5px 20px 7px 20px;
  text-align: center;
  font-family: ubuntu light, ubuntu, calibri, verdana;
  font-size: 28px;
  color: #606060;
  text-shadow: rgba(0,0,0,0.2) 0 0 5px;
  background: rgba(0,0,0,0.3);
  
  -webkit-border-radius: 4px;    
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 0 5px;
}

#boton_publicar.activo {
  color: #fafaff;
  cursor: pointer;  
  text-shadow: rgba(255,255,255,0.4) 0 0 5px;
  background: rgba(0,120,240,0.7);
}

#contenedor_formulario_excusa textarea {
  width: 96%;
  height: 5em;
  padding: 5px 10px;
  color: #303030;
  font-family: ubuntu light, ubuntu, calibri, verdana;
  font-size: 18px;
  
  -webkit-border-radius: 4px;
}

#textarea, #contenedor_formulario_imagen, #contenedor_formulario_video {
  -webkit-transition: all 0.5s ease-in-out;
}

#boton_texto img, #boton_imagen img, #boton_video img {
  position: relative;
  top: -31px;
  left: -5px;
}

#contendor_botones_texto_imagen_video .boton {
  float: left;
  margin: 0px 15px;
  width: 35px;
  height: 25px;
  padding-top: 10px;
  text-align: center;
  font-family: ubuntu light;
  font-size: 10px;
  color: #909090;  
  text-shadow: rgba(0,0,0,0.2) 0 0 2px;
  cursor: pointer;
  background: rgba(0,0,0,0.02);
  border: 3px solid rgba(0,0,0,0.1);
  
  -webkit-border-radius: 50px;  
  -webkit-box-shadow: rgba(0,0,0,0.1) 0 0 10px;
}

#contendor_botones_texto_imagen_video .boton.seleccionado {
  color: #fff;  
  text-shadow: rgba(255,255,255,0.3) 0 0 2px;
  background: rgba(0,120,240,0.7);
  border: 3px solid #fff;
  
  -webkit-border-radius: 50px;  
  -webkit-box-shadow: rgba(40,150,255,0.5) 0 0 10px;
}

#contendor_botones_texto_imagen_video {
  width: 215px;
  margin: 0px auto;
  margin-bottom: 20px;
  text-align: center;
  font-family: ubuntu light, ubuntu, calibri, verdana;
}

#contenedor_formulario_excusa {
  float: left;
  width: 53%;
  padding-left: 4%; 
  border-left: 6px dotted rgba(0,0,0,0.1);  
}

#subtexto_pregunta_excusa {
  font-size: 22px;
  font-family: ubuntu light, ubuntu, calibri, verdana;
}

#pregunta_excusa {
  font-family: yanone;
  font-size: 66px;
  color: #404040;
  line-height: 66px;
  text-shadow: rgba(0,0,0,0.5) 0 0 2px;
}

#pregunta_excusa, #subtexto_pregunta_excusa { 
  text-align: center;
  color: #404040;
}

#contenedor_pregunta_excusa {
  float: left;
  width: 37%;
  padding-right: 3%;
}

#contenedor_excusa {
  width: 70%;
  margin: 30px auto 0px 21.6%;
}

#contenedor_fuentes_cannabis .fuente {
  float: left;
}

#contenedor_fuentes_alcohol .fuente {
  float: right;
}

.fuente {  
  margin: 0px 10px 0px 10px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background-color: rgb(240,190,80);
  border-radius: 10px;
  
  -webkit-box-shadow: 0 0 2px rgba(0,0,0, 0.2);
}

.contenedor_fuentes {
  margin: 20px 80px 0px 80px;
}

#texto_dato_alcohol p, #texto_dato_cannabis p {
  margin-top: 8px;
  padding: 0px 30px 0px 30px;
  text-align: justify;
  font-family: ubuntu light, ubuntu, calibri, verdana;
  font-size: 14px;
  color: #fff;
  
  text-shadow: rgba(255,255,255, 0.1) 0 0 1px;
}

#texto_dato_alcohol p:first-child, #texto_dato_cannabis p:first-child {
  margin-top: 0px;
  font-size: 16px;
}

.imagen_dato {
  max-width: 220px;
  max-height: 220px;
  
  border-radius: 3px;
}

#contenedor_imagen_cannabis {
  right: -20px;
  float: right;
}

#contenedor_imagen_alcohol {
  left: -20px;
  float: left;
}

.contenedor_imagen_dato {
  position: relative;
  padding-bottom: 5px;
  
}

#alcohol .titulo p {
  text-align: right;
  color: #f05;
  text-shadow: #f05 0 0 1px;
}

#alcohol .titulo p, #cannabis .titulo p {  
  font-family: ubuntu light, ubuntu, calibri, verdana;
  font-size: 55px;
}

#alcohol .titulo, #cannabis .titulo {
  position: relative;
  top: -45px;
}

#boton_siguiente_alcohol, #boton_mas_alcohol,
#boton_siguiente_cannabis, #boton_mas_cannabis {
  cursor: pointer;
}

#contenedor_dato_alcohol, #contenedor_dato_cannabis {
  position: relative;
  top: -35px;
}

#contenedor_botones_cannabis {
  left: -13px;
  text-align: left;
}

#contenedor_botones_alcohol {
  left: 13px;
  text-align: right;
}

#contenedor_botones_alcohol, #contenedor_botones_cannabis {
  top: -22px;
  position: relative;
}

#cannabis .titulo{
  text-align: left;
}

#cannabis .titulo p {
  color: #0a5;
  text-shadow: #0a5 0 0 1px;
}

#contenedor_alcohol_pero_cannabis {
  width: 90%;
  margin: 30px auto 0px auto;
}

#contenedor_alcohol, #contenedor_cannabis {
  float: left;
  width: 44%;
}
 
#cosa_uno p, #cosa_dos p {
  font-family: yanone;
  font-size: 55px;
  color: #404040;
  text-shadow: rgba(0,0,0,0.5) 0 0 2px;
}

#cosa_uno {
    text-align: right;
}

.#cosa_uno p {
    padding-right: 40px;
}

#cosa_dos {
    text-align: left;
}

.#cosa_dos p {
    padding-left: 40px;
}


#alcohol, #cannabis {
  margin-top: 30px;  
  background: rgba(0,0,0,0.3);
  
  -webkit-border-radius: 3px;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 0 3px;
}

#pero {
  float: left;
  width: 12%;
  padding-top: 20px;
  text-align: center;
}

#pero p {
  font-family: yanone;
  font-size: 60px;
  color: #404040;
  text-shadow: rgba(0,0,0,0.5) 0 0 2px;
}

#proposicion {
  width: 45%;
  margin: 15px auto 0px auto;
  padding: 5px 20px 10px 20px;
  text-align: center; 
  background: rgba(0,0,0,0.2);
  
  -webkit-border-radius: 444px;
  -webkit-box-shadow: rgba(0,0,0,0.1) 0 0 10px;
}

#proposicion p {
  font-family: yanone;
  font-size: 66px;
  color: #404040;
  text-shadow: rgba(0,0,0,0.5) 0 0 2px;
}

body, p {
  margin: 0px;
}

html {
  background: url('../img/bg_glow.png') no-repeat fixed center center,
              url('../img/bg.gif') repeat fixed 0 0;  
}

@font-face {
  font-family: yanone;
  src: url('http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v1/We_iSDqttE3etzfdfhuPRWwXwFHHZlCwprwJOQ-Se7k.woff') format('woff');
}

@font-face {
  font-family: ubuntu light;
  src: local('ubuntu light'),
  url('fonts/Ubuntu-L.ttf') format('truetype');
}